extends layout

block content
  .container.center-text
    section.cta
      p.intro.one-third.center-block
        Cambrian is a West Coast full service, one-stop-shop for digital products. 
        We’re passionate about making purposeful products that people love. From 
        branding and iOS games, to websites and software applications, our team can 
        take you from ideation to actualization. 
        br
        br
        | We bring order.
      a.button.primary-button(href="mailto:cambrianbringsorder@gmail.com") Hire Us
  .mini-portfolio.clearfix
    .container
      ul.mini-portfolio-items.no-list-style.center-text.clearfix
        .two-cols-mobile
          li
            a(href="http://gongame.com")
              img(src="images/gon-icon.png")
              p.label Gon!
          li
            a(href="#")
              img(src="images/totally-icon.png")
              p.label Totally
        .two-cols-mobile.last
          li
            a(href="mailto:cambrianbringsorder@gmail.com")
              img(src="images/empty-icon.png")
              p.label Your Project
